In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("banco_de_imoveis.csv")

In [2]:
df.head()

,id,url,header,address,area,rooms,bathrooms,garages,amenities,price,condo,crawler,crawled_at
0,2472650173,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 64m²","Avenida Portugal, 401 - Brooklin, São Paulo - SP",64,2 Quartos,2 Banheiros,1 Vaga,Elevador\nAr-condicionado\nPlayground\nMóvel p...,R$ 715.000,R$ 778,Brooklin,2021-03-11 01:57
1,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Only Cidade Jardim,"Avenida Ulysses Reis de Mattos, 100 - Real Par...",186-252,3 Quartos,4 Banheiros,2-4 Vagas,NaN,A partir de\nR$ 2.429.620,NaN,Brooklin,2021-03-11 01:57
2,2463778941,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 83m²","Rua Nova York, 470 - Brooklin, São Paulo - SP",83,2 Quartos,3 Banheiros,2 Vagas,Piscina\nElevador\nCondomínio fechado\nEspaço ...,R$ 1.350.000,R$ 600,Brooklin,2021-03-11 01:57
3,2505723836,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 75m²","Avenida Portugal, 371 - Brooklin, São Paulo - SP",75,3 Quartos,2 Banheiros,1 Vaga,Academia\nCondomínio fechado,R$ 680.000,R$ 717,Brooklin,2021-03-11 01:57
4,2497648375,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com Quarto à Venda, 47m²","Rua Michigan - Brooklin, São Paulo - SP",47,1 Quarto,2 Banheiros,1 Vaga,Piscina\nVaranda gourmet\nMobiliado\nChurrasqu...,R$ 750.000,R$ 463,Brooklin,2021-03-11 01:57

# Objetivos
- Remover imóveis duplicados
- Remover propagandas
- Colunas numericas devem ter só um número

## Desafios
- Lidar com Amenities
- Extrair bairro do endereço
- Lidar com missing data

# Alguns comandos de pandas utilizados

`df` -> dataframe que estamos trabalhando

`df.head()` -> mostra as 5 primeiras linhas do dataframe

`df.tail()` -> mostra as 5 ultimas linhas do dataframe

`df.columns` -> Lista todas as colunas do dataframe

`df.shape` -> Dimensões do dataframe (numero de linhas e colunas)

`df.duplicated()` -> Procura linhas com TODOS os valores duplicados

`df.duplicated(subset=["id"])` -> procura linhas onde so o ID esta duplicado

`df.drop_duplicates(keep="first")` -> mantém o primeiro da lista de duplicados. Outra opção seria o last.

`w.isnumeric()` -> onde w é uma string, retorna True se w for numérico ou False se não for

`df["NOMEDACOLUNA"].str.split(" ")` -> Separa as strings da coluna NOMEDACOLUNA string no espaco. Ex: "Um brinquedo"-> ["Um", "brinquedo"]

`df["NOMEDACOLUNA"].str.replace("a", "b")` -> Para todas as strings da coluna NOMEDACOLUNA, substitui a por b. Ex: "abacate" -> "bbbcbte"

`df.reset_index(drop=False)` -> Re-constroi o indice sem pular valores. Util sempre que fizer alguma operacao que remova linhas para evitar warnings

`df["NOMEDACOLUNA"].isnull()` -> Filtro para detectar null na coluna NOMEDACOLUNA

`df.dropna()` -> Remove linhas que tiverem nulls.

`df.dropna(subset=["NOMEDACOLUNA"])` -> Remove linhas que tiverem nulls na coluna NOMEDACOLUNA.

`df.fillna("ERRO")` -> Substitui valores null pelo valor "ERRO"
`pd.to_datetime(df_sem_anuncios["crawled_at"], format="%Y-%m-%d %H:%M")` -> Transforma uma coluna de strings em datetime (format: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior)

`.str.lower()` -> Passa pra minuscula
`.str.replace(" ", "_")` -> substitui " " por "_"
`.str.normalize("NFKD").str.encode("ascii", errors="ignore").decode("utf-8")` - tirar os acentos

# Removendo duplicados

In [3]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
19435    False
19436    False
19437    False
19438    False
19439    False
Length: 19440, dtype: bool

In [4]:
# Quantidades de linhas únicas que estão repetidas
sum(df.duplicated())

713

In [5]:
# Removendo as repetidas mantendo apenas a primeira de cada repetição
df = df.drop_duplicates(keep="first", subset=[coluna for coluna in df.columns if coluna!="crawled_at"]).reset_index(drop=True)

In [6]:
df[df["id"]=="1037345211"]

,id,url,header,address,area,rooms,bathrooms,garages,amenities,price,condo,crawler,crawled_at
11758,1037345211,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 66m²","Pinheiros, São Paulo - SP",66,2 Quartos,2 Banheiros,1 Vaga,NaN,R$ 858.000,R$ 528,Pinheiros,2021-03-11 03:45

## Remover propagandas

In [7]:
df

,id,url,header,address,area,rooms,bathrooms,garages,amenities,price,condo,crawler,crawled_at
0,2472650173,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 64m²","Avenida Portugal, 401 - Brooklin, São Paulo - SP",64,2 Quartos,2 Banheiros,1 Vaga,Elevador\nAr-condicionado\nPlayground\nMóvel p...,R$ 715.000,R$ 778,Brooklin,2021-03-11 01:57
1,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Only Cidade Jardim,"Avenida Ulysses Reis de Mattos, 100 - Real Par...",186-252,3 Quartos,4 Banheiros,2-4 Vagas,NaN,A partir de\nR$ 2.429.620,NaN,Brooklin,2021-03-11 01:57
2,2463778941,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 83m²","Rua Nova York, 470 - Brooklin, São Paulo - SP",83,2 Quartos,3 Banheiros,2 Vagas,Piscina\nElevador\nCondomínio fechado\nEspaço ...,R$ 1.350.000,R$ 600,Brooklin,2021-03-11 01:57
3,2505723836,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 75m²","Avenida Portugal, 371 - Brooklin, São Paulo - SP",75,3 Quartos,2 Banheiros,1 Vaga,Academia\nCondomínio fechado,R$ 680.000,R$ 717,Brooklin,2021-03-11 01:57
4,2497648375,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com Quarto à Venda, 47m²","Rua Michigan - Brooklin, São Paulo - SP",47,1 Quarto,2 Banheiros,1 Vaga,Piscina\nVaranda gourmet\nMobiliado\nChurrasqu...,R$ 750.000,R$ 463,Brooklin,2021-03-11 01:57
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18209,2511444468,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 56m²","Rua Purus - Tucuruvi, São Paulo - SP",56,2 Quartos,1 Banheiro,1 Vaga,Playground\nSalão de festas\nSalão de jogos,R$ 359.000,NaN,Tucuruvi,2021-03-11 04:46
18210,2500619794,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 78m²","Rua Manuel Gaya, 945 - Tucuruvi, São Paulo - SP",78,3 Quartos,2 Banheiros,2 Vagas,Piscina\nVaranda gourmet\nChurrasqueira\nVaran...,R$ 670.000,R$ 650,Tucuruvi,2021-03-11 04:46
18211,2505112299,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 82m²","Avenida Coronel Sezefredo Fagundes - Tucuruvi,...",82,3 Quartos,2 Banheiros,1 Vaga,Aquecimento,R$ 675.000,R$ 650,Tucuruvi,2021-03-11 04:46
18212,2505098315,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 82m²","Avenida Coronel Sezefredo Fagundes - Tucuruvi,...",82,3 Quartos,2 Banheiros,1 Vaga,Aquecimento,R$ 675.000,R$ 650,Tucuruvi,2021-03-11 04:46
18213,2486035511,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 96m²","Avenida Mazzei, 530 - Tucuruvi, São Paulo - SP",96,2 Quartos,1 Banheiro,1 Vaga,Piscina\nMobiliado\nChurrasqueira\nAcademia\nE...,R$ 540.000,R$ 670,Tucuruvi,2021-03-11 04:46

In [8]:
# Cria uma lista com True caso o id seja numérico e False caso não seja
filtro_de_anuncios = [_id.isnumeric() for _id in df["id"]]

In [9]:
# Usamos o filtro para pegar apenas as linhas onde o id é numérico
df = df[filtro_de_anuncios].reset_index(drop=True)

In [10]:
df.shape

(15524, 13)

# Remover strings de campos numericos

In [11]:
# Verificamos os valores únicos
set(df["rooms"])

{'-- Quarto', '1 Quarto', '2 Quartos', '3 Quartos', '4 Quartos', '5 Quartos'}

In [12]:
# Fazemos o split no espaço, pegamos a primeira parte. Depois substituimos o __ por 0.
# Ex: "1 Quartos".split(" ") = [1, Quartos]
# Pegamos a primeira parte: [1]
# Substituimos "--" por 0. Como não tem fica 1 mesmo.
set(df["rooms"].str.split(" ").str[0].str.replace("--","0"))

{'0', '1', '2', '3', '4', '5'}

In [13]:
df["rooms_limpo"] = (df["rooms"]
                     .str.split(" ")
                     .str[0]
                     .str.replace("--","0")
                     .astype(int))

In [14]:
# Exatamente igual rooms
set(df["bathrooms"])

{'-- Banheiro',
 '1 Banheiro',
 '2 Banheiros',
 '3 Banheiros',
 '4 Banheiros',
 '5 Banheiros',
 '6 Banheiros',
 '7 Banheiros',
 '8 Banheiros'}

In [15]:
df["bathrooms_limpo"] = (df["bathrooms"]
                         .str.split(" ")
                         .str[0]
                         .str.replace("--","0")
                         .astype(int))

In [16]:
# Exatamente igual rooms
set(df["garages"])

{'-- Vaga',
 '1 Vaga',
 '10 Vagas',
 '14 Vagas',
 '2 Vagas',
 '3 Vagas',
 '4 Vagas',
 '47 Vagas',
 '5 Vagas',
 '6 Vagas',
 '7 Vagas',
 '8 Vagas',
 '9 Vagas'}

In [17]:
df["garages_limpo"] = (df["garages"]
                       .str.split(" ")
                       .str[0]
                       .str.replace("--","0")
                       .astype(int))

In [18]:
set(df["garages_limpo"])

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 47}

In [19]:
set(df["price"])

{'R$ 801.671',
 'R$ 384.568',
 'R$ 409.150',
 'R$ 554.141',
 'R$ 1.006.000',
 'R$ 211.900',
 'R$ 511.607',
 'R$ 1.234.431',
 'R$ 336.000',
 'R$ 1.535.200',
 'R$ 416.000',
 'R$ 998.076',
 'R$ 394.796',
 'R$ 3.500.017',
 'R$ 1.234.500',
 'R$ 1.566.822',
 'R$ 1.536.800',
 'R$ 1.319.000',
 'R$ 461.400',
 'R$ 2.787.000',
 'R$ 457.900',
 'R$ 1.385.000',
 'R$ 1.093.000',
 'R$ 976.000',
 'R$ 1.070.200',
 'R$ 404.000',
 'R$ 1.300.000',
 'R$ 354.930',
 'R$ 1.697.050',
 'R$ 1.597.000',
 'R$ 1.334.700',
 'R$ 1.843.476',
 'R$ 2.574.970',
 'R$ 334.000',
 'R$ 418.015',
 'R$ 1.560.000',
 'R$ 824.200',
 'R$ 1.200.000',
 'R$ 1.081.000',
 'R$ 368.000',
 'R$ 944.801',
 'R$ 688.000',
 'R$ 1.427.414',
 'R$ 305.000',
 'R$ 972.682',
 'R$ 563.999',
 'R$ 1.437.000',
 'R$ 258.700',
 'R$ 210.340',
 'R$ 779.000',
 'R$ 547.710',
 'R$ 115.000',
 'R$ 504.599',
 'R$ 171.000',
 'R$ 1.209.130',
 'R$ 382.000',
 'R$ 512.496',
 'R$ 537.000',
 'R$ 541.549',
 'R$ 452.830',
 'R$ 1.046.000',
 'R$ 498.300',
 'R$ 305.139',
 'R$ 1.585.800',
 'R$ 2.488.000',
 'R$ 966.440',
 'R$ 835.000',
 'R$ 406.600',
 'R$ 1.144.000',
 'R$ 5.734.014',
 'R$ 660.508',
 'R$ 493.078',
 'R$ 451.000',
 'R$ 2.548.000',
 'R$ 1.836.900',
 'R$ 1.219.000',
 'R$ 1.164.909',
 'R$ 250.001',
 'R$ 757.000',
 'R$ 1.461.000',
 'R$ 187.000',
 'R$ 1.147.014',
 'R$ 1.449.999',
 'R$ 492.800',
 'R$ 1.320.000',
 'R$ 830.000',
 'R$ 1.488.000',
 'R$ 1.015.000',
 'R$ 489.999',
 'R$ 2.950.000',
 'R$ 322.000',
 'R$ 6.664.700',
 'R$ 474.606',
 'R$ 191.900',
 'R$ 982.463',
 'R$ 689.900',
 'R$ 220.012',
 'R$ 272.500',
 'R$ 786.000',
 'R$ 1.553.000',
 'R$ 2.721.035',
 'R$ 776.996',
 'R$ 971.975',
 'R$ 3.830.000',
 'R$ 905.083',
 'R$ 1.420.000',
 'R$ 299.800',
 'R$ 352.000',
 'R$ 512.500',
 'R$ 450.099',
 'R$ 783.000',
 'R$ 578.100',
 'R$ 455.390',
 'R$ 443.000',
 'R$ 2.700.000',
 'R$ 2.589.000',
 'R$ 665.977',
 'R$ 1.175.400',
 'R$ 508.200',
 'R$ 487.600',
 'R$ 5.300.000',
 'R$ 1.224.000',
 'R$ 509.900',
 'R$ 844.319',
 'R$ 1.027.014',
 'R$ 391.139',
 'R$ 386.500',
 'R$ 230.300',
 'R$ 161.900',
 'R$ 406.400',
 'R$ 379.267',
 'R$ 798.331',
 'R$ 658.162',
 'R$ 487.500',
 'R$ 449.200',
 'R$ 2.201.000',
 'R$ 840.000',
 'R$ 187.900',
 'R$ 433.300',
 'R$ 985.000',
 'R$ 611.070',
 'R$ 1.484.000',
 'R$ 909.500',
 'R$ 538.913',
 'R$ 1.258.000',
 'R$ 363.100',
 'R$ 1.030.000',
 'R$ 240.000',
 'R$ 1.282.500',
 'R$ 1.680.026',
 'R$ 262.000',
 'R$ 912.500',
 'R$ 524.606',
 'R$ 359.260',
 'R$ 1.614.000',
 'R$ 1.147.170',
 'R$ 797.900',
 'R$ 863.455',
 'R$ 845.290',
 'R$ 1.089.800',
 'R$ 717.900',
 'R$ 673.943',
 'R$ 2.472.000',
 'R$ 1.649.000',
 'R$ 731.000',
 'R$ 974.000',
 'R$ 398.000',
 'R$ 226.800',
 'R$ 774.500',
 'R$ 668.000',
 'R$ 770.000',
 'R$ 456.003',
 'R$ 517.000',
 'R$ 1.288.000',
 'R$ 1.247.000',
 'R$ 965.620',
 'R$ 648.000',
 'R$ 1.775.000',
 'R$ 1.662.000',
 'R$ 650.000',
 'R$ 889.000',
 'R$ 599.100',
 'R$ 1.274.000',
 'R$ 416.442',
 'R$ 341.000',
 'R$ 938.000',
 'R$ 228.000',
 'R$ 399.333',
 'R$ 149.900',
 'R$ 539.232',
 'R$ 478.000',
 'R$ 982.514',
 'R$ 963.000',
 'R$ 466.400',
 'R$ 203.000',
 'R$ 689.785',
 'R$ 619.999',
 'R$ 2.032.814',
 'R$ 1.250.000',
 'R$ 2.638.900',
 'R$ 1.329.000',
 'R$ 1.030.900',
 'R$ 230.000',
 'R$ 1.585.000',
 'R$ 379.600',
 'R$ 294.990',
 'R$ 1.142.014',
 'R$ 1.040.000',
 'R$ 549.774',
 'R$ 526.000',
 'R$ 425.531',
 'R$ 986.200',
 'R$ 995.620',
 'R$ 381.240',
 'R$ 869.000',
 'R$ 213.500',
 'R$ 338.912',
 'R$ 239.573',
 'R$ 350.000',
 'R$ 349.000',
 'R$ 1.500.120',
 'R$ 658.000',
 'R$ 1.539.000',
 'R$ 215.100',
 'R$ 343.217',
 'R$ 1.155.000',
 'R$ 299.999',
 'R$ 1.740.000',
 'R$ 741.000',
 'R$ 1.335.000',
 'R$ 307.400',
 'R$ 265.138',
 'R$ 322.100',
 'R$ 1.681.660',
 'R$ 569.200',
 'R$ 234.900',
 'R$ 702.000',
 'R$ 880.000',
 'R$ 493.000',
 'R$ 100.000',
 'R$ 537.400',
 'R$ 994.209',
 'R$ 806.267',
 'R$ 314.999',
 'R$ 859.300',
 'R$ 1.845.000',
 'R$ 636.009',
 'R$ 1.239.908',
 'R$ 270.001',
 'R$ 697.500',
 'R$ 209.980',
 'R$ 374.500',
 'R$ 508.000',
 'R$ 592.000',
 'R$ 467.500',
 'R$ 328.500',
 'R$ 1.637.000',
 'R$ 413.200',
 'R$ 825.998',
 'R$ 352.800',
 'R$ 347.000',
 'R$ 619.900',
 'R$ 678.400',
 'R$ 847.000',
 'R$ 1.872.000',
 'R$ 799.200',
 'R$ 1.118.000',
 'R$ 296.800',
 'R$ 291.204',
 'R$ 470.478',
 'R$ 678.000',
 'R$ 749.996',
 'R$ 1.059.000',
 'R$ 1.338.000',
 'R$ 1.730.000',
 'R$ 1.450.000',
 'R$ 940.500',
 'R$ 914.000',
 'R$ 759.000',
 'R$ 699.000',
 'R$ 1.117.000',
 'R$ 573.000',
 'R$ 2.660.000',
 'R$ 675.601',
 'R$ 490.000',
 'R$ 753.500',
 'R$ 1.240.000',
 'R$ 542.000',
 'R$ 760.499',
 'R$ 845.190',
 'R$ 449.920',
 'R$ 1.049.000',
 'R$ 349.974',
 'R$ 499.984',
 'R$ 998.660',
 'R$ 531.914',
 'R$ 415.000',
 'R$ 889.999',
 'R$ 564.000',
 'R$ 441.621',
 'R$ 1.248.000',
 'R$ 135.000',
 'R$ 1.029.200',
 'R$ 372.500',
 'R$ 190.000',
 'R$ 3.240.482',
 'R$ 686.168',
 'R$ 749.999',
 'R$ 294.000',
 'R$ 1.788.950',
 'R$ 252.000',
 'R$ 765.000',
 'R$ 334.610',
 'R$ 936.651',
 'R$ 1.461.630',
 'R$ 125.000',
 'R$ 490.020',
 'R$ 222.600',
 'R$ 1.592.000',
 'R$ 760.000',
 'R$ 175.999',
 'R$ 1.050.755',
 'R$ 467.000',
 'R$ 2.471.000',
 'R$ 906.000',
 'R$ 404.255',
 'R$ 1.810.000',
 'R$ 409.000',
 'R$ 842.500',
 'R$ 1.371.000',
 'R$ 689.999',
 'R$ 665.280',
 'R$ 420.240',
 'R$ 383.500',
 'R$ 718.129',
 'R$ 744.000',
 'R$ 2.200.000',
 'R$ 214.000',
 'R$ 830.249',
 'R$ 478.675',
 'R$ 2.296.399',
 'R$ 200.004',
 'R$ 832.460',
 'R$ 721.000',
 'R$ 1.188.000',
 'R$ 326.000',
 'R$ 726.750',
 'R$ 1.520.300',
 'R$ 732.000',
 'R$ 1.172.447',
 'R$ 2.256.670',
 'R$ 607.000',
 'R$ 474.700',
 'R$ 220.500',
 'R$ 204.000',
 'R$ 2.388.000',
 'R$ 930.000',
 'R$ 482.460',
 'R$ 399.999',
 'R$ 1.482.000',
 'R$ 400.000',
 'R$ 1.377.530',
 'R$ 1.056.200',
 'R$ 489.000',
 'R$ 974.849',
 'R$ 419.000',
 'R$ 1.295.000',
 'R$ 998.065',
 'R$ 1.379.985',
 'R$ 1.660.930',
 'R$ 1.277.000',
 'R$ 3.200.000',
 'R$ 1.590.000',
 'R$ 679.000',
 'R$ 393.000',
 'R$ 954.000',
 'R$ 229.980',
 'R$ 775.390',
 'R$ 426.200',
 'R$ 1.545.000',
 'R$ 1.080.000',
 'R$ 794.000',
 'R$ 544.445',
 'R$ 1.272.258',
 'R$ 376.000',
 'R$ 455.500',
 'R$ 623.000',
 'R$ 695.000',
 'R$ 1.185.000',
 'R$ 439.001',
 'R$ 1.588.000',
 'R$ 756.672',
 'R$ 1.799.000',
 'R$ 255.999',
 'R$ 1.780.000',
 'R$ 1.460.000',
 'R$ 429.000',
 'R$ 369.500',
 'R$ 707.000',
 'R$ 873.430',
 'R$ 448.050',
 'R$ 649.000',
 'R$ 499.950',
 'R$ 1.528.800',
 'R$ 899.997',
 'R$ 998.644',
 'R$ 785.555',
 'R$ 829.815',
 'R$ 1.104.802',
 'R$ 239.999',
 'R$ 1.268.000',
 'R$ 2.375.540',
 'R$ 549.000',
 'R$ 370.000',
 'R$ 208.000',
 'R$ 1.169.880',
 'R$ 1.325.000',
 'R$ 423.898',
 'R$ 519.000',
 'R$ 473.000',
 'R$ 722.788',
 'R$ 254.000',
 'R$ 589.000',
 'R$ 275.000',
 'R$ 430.999',
 'R$ 1.098.000',
 'R$ 1.928.000',
 'R$ 2.052.000',
 'R$ 953.000',
 'R$ 570.651',
 'R$ 740.001',
 'R$ 7.320.049',
 'R$ 2.820.000',
 'R$ 319.485',
 'R$ 2.750.000',
 'R$ 758.000',
 'R$ 2.160.000',
 'R$ 1.455.000',
 'R$ 1.397.000',
 'R$ 1.183.950',
 'R$ 832.000',
 'R$ 263.900',
 'R$ 812.000',
 'R$ 401.780',
 'R$ 2.880.000',
 'R$ 375.605',
 'R$ 459.761',
 'R$ 685.600',
 'R$ 470.000',
 'R$ 529.250',
 'R$ 548.644',
 'R$ 3.150.000',
 'R$ 362.102',
 'R$ 1.200.016',
 'R$ 357.000',
 'R$ 1.120.000',
 'R$ 989.420',
 'R$ 612.000',
 'R$ 290.000',
 'R$ 262.580',
 'R$ 1.261.000',
 'R$ 853.852',
 'R$ 1.160.000',
 'R$ 777.000',
 'R$ 1.156.900',
 'R$ 710.134',
 'R$ 278.000',
 'R$ 441.307',
 'R$ 469.400',
 'R$ 1.060.320',
 'R$ 362.330',
 'R$ 299.000',
 'R$ 1.205.600',
 'R$ 445.500',
 'R$ 403.000',
 'R$ 2.470.078',
 'R$ 802.000',
 'R$ 2.380.000',
 'R$ 1.387.000',
 'R$ 1.432.200',
 'R$ 1.137.014',
 'R$ 1.208.000',
 'R$ 310.900',
 'R$ 1.575.000',
 'R$ 1.063.097',
 'R$ 693.500',
 'R$ 894.000',
 'R$ 166.000',
 'R$ 425.000',
 'R$ 243.000',
 'R$ 1.870.000',
 'R$ 298.580',
 'R$ 1.092.000',
 'R$ 1.150.000',
 'R$ 466.430',
 'R$ 898.000',
 'R$ 453.600',
 'R$ 442.300',
 'R$ 766.610',
 'R$ 763.000',
 'R$ 1.493.200',
 'R$ 697.480',
 'R$ 1.239.000',
 'R$ 1.034.000',
 'R$ 248.900',
 'R$ 564.979',
 'R$ 774.423',
 'R$ 925.000',
 'R$ 257.000',
 'R$ 522.708',
 'R$ 178.900',
 'R$ 182.900',
 'R$ 479.500',
 'R$ 680.960',
 'R$ 656.021',
 'R$ 749.000',
 'R$ 345.000',
 'R$ 998.199',
 'R$ 492.039',
 'R$ 434.600',
 'R$ 378.000',
 'R$ 488.053',
 'R$ 1.044.000',
 'R$ 560.500',
 'R$ 552.544',
 'R$ 1.419.000',
 'R$ 596.892',
 'R$ 465.900',
 'R$ 1.005.255',
 'R$ 575.750',
 'R$ 495.031',
 'R$ 656.034',
 'R$ 825.000',
 'R$ 716.000',
 'R$ 481.631',
 'R$ 666.250',
 'R$ 2.295.000',
 'R$ 2.970.000',
 'R$ 1.098.200',
 'R$ 1.163.000',
 'R$ 299.900',
 'R$ 428.900',
 'R$ 684.017',
 'R$ 398.816',
 'R$ 397.400',
 'R$ 574.240',
 'R$ 498.000',
 'R$ 577.550',
 'R$ 1.473.540',
 'R$ 497.000',
 'R$ 623.498',
 'R$ 1.936.000',
 'R$ 941.500',
 'R$ 359.000',
 'R$ 724.000',
 'R$ 1.036.031',
 'R$ 4.135.814',
 'R$ 563.800',
 'R$ 897.000',
 'R$ 2.600.000',
 'R$ 1.028.000',
 'R$ 1.518.000',
 'R$ 1.308.000',
 'R$ 1.182.900',
 'R$ 1.424.110',
 'R$ 834.800',
 'R$ 1.968.085',
 'R$ 728.406',
 'R$ 1.332.000',
 'R$ 757.900',
 'R$ 329.990',
 'R$ 462.560',
 'R$ 2.297.000',
 'R$ 520.000',
 'R$ 960.010',
 'R$ 429.254',
 'R$ 239.160',
 'R$ 380.001',
 'R$ 521.000',
 'R$ 2.490.000',
 'R$ 418.140',
 'R$ 1.007.731',
 'R$ 235.000',
 'R$ 508.800',
 'R$ 1.793.000',
 'R$ 379.900',
 'R$ 389.900',
 'R$ 1.193.547',
 'R$ 1.940.000',
 'R$ 629.900',
 'R$ 397.800',
 'R$ 374.999',
 'R$ 2.344.900',
 'R$ 365.457',
 'R$ 737.887',
 'R$ 357.634',
 'R$ 355.000',
 'R$ 1.348.500',
 'R$ 534.400',
 'R$ 685.700',
 'R$ 1.260.000',
 'R$ 681.480',
 'R$ 658.900',
 'R$ 500.822',
 'R$ 506.661',
 'R$ 1.039.000',
 'R$ 1.643.600',
 'R$ 458.900',
 'R$ 1.758.000',
 'R$ 289.000',
 'R$ 613.740',
 'R$ 9.700.000',
 'R$ 2.239.583',
 'R$ 2.470.150',
 'R$ 2.470.099',
 'R$ 453.000',
 'R$ 393.600',
 'R$ 434.000',
 'R$ 4.300.000',
 'R$ 999.567',
 'R$ 477.087',
 'R$ 500.000',
 'R$ 349.795',
 'R$ 461.000',
 'R$ 669.000',
 'R$ 998.000',
 'R$ 325.000',
 'R$ 220.001',
 'R$ 2.570.014',
 'R$ 259.999',
 'R$ 412.000',
 'R$ 742.107',
 'R$ 1.848.000',
 'R$ 1.632.212',
 'R$ 805.300',
 'R$ 1.390.000',
 'R$ 580.016',
 'R$ 1.415.000',
 'R$ 402.800',
 'R$ 831.000',
 'R$ 918.000',
 'R$ 1.860.000',
 'R$ 349.900',
 'R$ 459.990',
 'R$ 605.000',
 'R$ 943.090',
 'R$ 423.999',
 'R$ 177.980',
 'R$ 664.000',
 'R$ 850.000',
 'R$ 324.000',
 'R$ 1.920.000',
 'R$ 364.000',
 'R$ 995.000',
 'R$ 471.602',
 'R$ 1.048.762',
 'R$ 614.800',
 'R$ 2.447.000',
 'R$ 372.300',
 'R$ 1.490.000',
 'R$ 2.040.000',
 'R$ 928.700',
 'R$ 655.000',
 'R$ 4.688.000',
 'R$ 419.990',
 'R$ 590.230',
 'R$ 570.000',
 'R$ 4.348.000',
 'R$ 753.000',
 'R$ 804.000',
 'R$ 147.900',
 'R$ 1.465.600',
 'R$ 276.000',
 'R$ 178.000',
 'R$ 1.615.000',
 'R$ 1.215.440',
 'R$ 1.232.500',
 'R$ 432.570',
 'R$ 335.020',
 'R$ 2.277.800',
 'R$ 1.529.500',
 'R$ 700.000',
 'R$ 471.601',
 'R$ 230.200',
 'R$ 559.000',
 'R$ 1.243.355',
 'R$ 6.631.600',
 'R$ 942.900',
 'R$ 310.000',
 'R$ 488.900',
 'R$ 3.904.312',
 'R$ 1.445.000',
 'R$ 1.429.000',
 'R$ 1.120.890',
 'R$ 3.650.000',
 'R$ 386.136',
 'R$ 235.900',
 'R$ 1.626.000',
 'R$ 443.100',
 'R$ 175.420',
 'R$ 1.879.000',
 'R$ 749.771',
 'R$ 685.900',
 'R$ 1.285.000',
 'R$ 569.000',
 'R$ 414.994',
 'R$ 433.643',
 'R$ 1.113.000',
 'R$ 1.206.000',
 'R$ 175.300',
 'R$ 531.000',
 'R$ 560.000',
 'R$ 1.535.000',
 'R$ 565.650',
 'R$ 1.680.000',
 'R$ 3.480.290',
 'R$ 507.000',
 'R$ 279.900',
 'R$ 245.300',
 'R$ 241.900',
 'R$ 973.000',
 'R$ 511.000',
 'R$ 565.000',
 'R$ 949.000',
 'R$ 1.548.856',
 'R$ 328.000',
 'R$ 3.079.000',
 'R$ 342.289',
 'R$ 699.999',
 'R$ 438.399',
 'R$ 1.020.000',
 'R$ 661.000',
 'R$ 625.000',
 'R$ 247.690',
 'R$ 268.900',
 'R$ 359.900',
 'R$ 733.300',
 'R$ 3.478.227',
 'R$ 417.000',
 'R$ 1.025.000',
 'R$ 929.995',
 'R$ 7.320.012',
 'R$ 1.840.000',
 'R$ 1.359.000',
 'R$ 349.705',
 'R$ 326.900',
 'R$ 269.919',
 'R$ 430.011',
 'R$ 189.660',
 'R$ 1.147.000',
 'R$ 397.500',
 'R$ 1.522.156',
 'R$ 462.400',
 'R$ 511.330',
 'R$ 879.800',
 'R$ 718.000',
 'R$ 895.000',
 'R$ 1.312.000',
 'R$ 749.900',
 'R$ 374.445',
 'R$ 549.825',
 'R$ 342.400',
 'R$ 800.419',
 'R$ 1.315.000',
 'R$ 838.000',
 'R$ 346.000',
 'R$ 309.000',
 'R$ 2.999.000',
 'R$ 2.180.000',
 'R$ 480.801',
 'R$ 663.909',
 'R$ 1.855.000',
 'R$ 210.018',
 'R$ 1.968.000',
 'R$ 2.690.000',
 'R$ 1.418.000',
 'R$ 785.000',
 'R$ 1.134.000',
 'R$ 693.850',
 'R$ 249.700',
 'R$ 782.990',
 'R$ 626.000',
 'R$ 449.900',
 'R$ 647.777',
 'R$ 1.275.000',
 'R$ 304.000',
 'R$ 781.000',
 'R$ 1.964.000',
 'R$ 390.139',
 'R$ 983.000',
 'R$ 329.999',
 'R$ 264.300',
 'R$ 846.320',
 'R$ 733.500',
 'R$ 1.436.800',
 'R$ 297.000',
 'R$ 2.313.000',
 'R$ 691.000',
 'R$ 465.500',
 'R$ 426.400',
 'R$ 175.700',
 'R$ 348.684',
 'R$ 1.070.001',
 'R$ 1.735.000',
 'R$ 2.470.047',
 'R$ 950.000',
 'R$ 1.083.460',
 'R$ 355.700',
 'R$ 569.915',
 'R$ 1.620.000',
 'R$ 1.838.000',
 'R$ 308.000',
 'R$ 959.662',
 'R$ 527.000',
 'R$ 446.051',
 'R$ 391.300',
 'R$ 225.900',
 'R$ 540.000',
 'R$ 450.900',
 'R$ 838.909',
 'R$ 454.900',
 'R$ 1.058.953',
 'R$ 462.210',
 'R$ 484.428',
 'R$ 349.946',
 'R$ 380.500',
 'R$ 1.095.600',
 'R$ 369.999',
 'R$ 1.278.000',
 'R$ 1.381.000',
 'R$ 1.990.000',
 'R$ 780.151',
 'R$ 978.134',
 'R$ 789.999',
 'R$ 1.122.014',
 'R$ 1.085.938',
 'R$ 2.487.000',
 'R$ 504.000',
 'R$ 399.666',
 'R$ 332.846',
 'R$ 364.816',
 'R$ 468.000',
 'R$ 599.900',
 'R$ 486.280',
 'R$ 890.001',
 'R$ 219.900',
 'R$ 620.000',
 'R$ 417.600',
 'R$ 932.701',
 'R$ 1.405.000',
 'R$ 554.631',
 'R$ 521.695',
 'R$ 569.921',
 'R$ 169.900',
 'R$ 2.650.000',
 'R$ 214.900',
 'R$ 412.900',
 'R$ 541.322',
 'R$ 1.050.000',
 'R$ 1.272.000',
 'R$ 1.281.000',
 'R$ 696.000',
 'R$ 1.135.000',
 'R$ 3.350.000',
 'R$ 1.114.537',
 'R$ 365.000',
 'R$ 770.500',
 'R$ 234.000',
 'R$ 175.800',
 'R$ 396.608',
 'R$ 938.600',
 'R$ 3.390.000',
 'R$ 2.185.000',
 'R$ 474.400',
 'R$ 460.019',
 'R$ 820.999',
 'R$ 360.000',
 'R$ 401.000',
 'R$ 399.222',
 'R$ 2.272.015',
 'R$ 486.000',
 'R$ 1.120.034',
 'R$ 1.549.000',
 'R$ 264.250',
 'R$ 239.140',
 'R$ 986.300',
 'R$ 543.301',
 'R$ 1.252.000',
 'R$ 936.000',
 'R$ 120.000',
 'R$ 1.125.300',
 'R$ 280.700',
 'R$ 649.700',
 'R$ 2.099.000',
 'R$ 2.987.000',
 'R$ 200.900',
 'R$ 1.419.900',
 'R$ 349.289',
 'R$ 715.000',
 'R$ 2.300.000',
 'R$ 1.410.000',
 'R$ 159.000',
 'R$ 1.380.606',
 'R$ 418.068',
 'R$ 503.717',
 'R$ 887.000',
 'R$ 989.000',
 'R$ 1.785.000',
 'R$ 509.870',
 'R$ 185.000',
 'R$ 2.310.000',
 'R$ 635.000',
 'R$ 364.178',
 'R$ 1.058.000',
 'R$ 481.626',
 'R$ 403.286',
 'R$ 715.178',
 'R$ 435.000',
 'R$ 998.007',
 'R$ 596.000',
 'R$ 890.077',
 'R$ 239.000',
 'R$ 790.000',
 'R$ 480.000',
 'R$ 192.000',
 'R$ 948.000',
 'R$ 2.590.000',
 'R$ 1.175.000',
 'R$ 359.100',
 'R$ 525.000',
 'R$ 255.000',
 'R$ 1.886.900',
 'R$ 756.000',
 'R$ 1.548.000',
 'R$ 1.036.800',
 'R$ 448.800',
 'R$ 1.069.999',
 'R$ 552.000',
 'R$ 393.200',
 'R$ 2.694.000',
 'R$ 332.150',
 'R$ 752.000',
 'R$ 256.000',
 'R$ 681.000',
 'R$ 534.000',
 'R$ 447.274',
 'R$ 867.000',
 'R$ 800.000',
 'R$ 1.520.000',
 'R$ 1.399.000',
 'R$ 901.000',
 'R$ 959.685',
 'R$ 4.145.000',
 'R$ 874.000',
 'R$ 2.500.000',
 'R$ 998.022',
 'R$ 2.700.110',
 'R$ 1.061.000',
 'R$ 1.021.000',
 'R$ 317.000',
 'R$ 630.000',
 'R$ 3.750.000',
 'R$ 462.700',
 'R$ 1.024.405',
 'R$ 718.630',
 'R$ 1.093.828',
 'R$ 366.300',
 'R$ 335.000',
 'R$ 1.427.000',
 'R$ 1.473.000',
 'R$ 342.099',
 'R$ 440.000',
 'R$ 1.669.900',
 'R$ 860.000',
 'R$ 1.233.749',
 'R$ 480.750',
 'R$ 1.580.000',
 'R$ 2.000.000',
 'R$ 95.000',
 'R$ 842.100',
 'R$ 566.100',
 'R$ 749.862',
 'R$ 1.472.616',
 'R$ 431.000',
 'R$ 837.000',
 'R$ 418.000',
 'R$ 2.190.000',
 'R$ 879.271',
 'R$ 957.000',
 'R$ 477.000',
 'R$ 215.900',
 'R$ 998.178',
 'R$ 791.327',
 'R$ 208.994',
 'R$ 548.000',
 'R$ 198.900',
 'R$ 453.510',
 'R$ 1.130.000',
 'R$ 370.342',
 'R$ 801.000',
 ...}

In [20]:
# Fazemos o split no "R$ ", pegamos o segundo elemento, 
# substituimos o . por nada e transformamos em int
# Ex: "R$ 824.200".split("R$ ") = ["R$ ", "824.200"]
# segundo elemento "824.200"
# "824.200".replace(".", "") = "824200"
# int("824200") = 824200 (passando de string para int)

df["price_limpo"] = [int(w.split("R$ ")[1].replace(".","")) for w in df["price"]]

In [21]:
# Passamos os na para a string "MISSING"
df["condo"] = df["condo"].fillna("MISSING")

In [22]:
# Fazemos semelhante ao price mas com a condicional de apenas para os que não não "MISSING".
# Os que são missing vamos substituir por np.nan
df["condo_limpo"] = [int(w.split("R$ ")[1].replace(".","")) if w!="MISSING" else np.nan for w in df["condo"]]

In [23]:
# Area já está limpo, é só passar para in
df["area_limpo"] = df["area"].astype(int)

In [24]:
# Crawled at já está limpo, é só passar para datetime
df["crawled_at"] = pd.to_datetime(df["crawled_at"], format="%Y-%m-%d %H:%M")

In [25]:
# Removendo colunas antigas
df = df.drop(columns=["area", "rooms", "bathrooms", "garages", "price", "condo"])

# Bairro

In [26]:
df["address"]

0         Avenida Portugal, 401 - Brooklin, São Paulo - SP
1            Rua Nova York, 470 - Brooklin, São Paulo - SP
2         Avenida Portugal, 371 - Brooklin, São Paulo - SP
3                  Rua Michigan - Brooklin, São Paulo - SP
4                                 Brooklin, São Paulo - SP
                               ...
15519                 Rua Purus - Tucuruvi, São Paulo - SP
15520      Rua Manuel Gaya, 945 - Tucuruvi, São Paulo - SP
15521    Avenida Coronel Sezefredo Fagundes - Tucuruvi,...
15522    Avenida Coronel Sezefredo Fagundes - Tucuruvi,...
15523       Avenida Mazzei, 530 - Tucuruvi, São Paulo - SP
Name: address, Length: 15524, dtype: object

In [27]:
# Vamos fazer um split no "- " e pegar o segundo elemento. 
# Depois um split na "," e pegar o primeiro elemento
# Exemplo: "Rua Purus - Tucuruvi, São Paulo - SP".split("- ") = ["Rua Purus", "Tucuruvi, Sao Paulo", "SP]
# Pegamos o segundo elemento: "Tucuruvi, São Paulo"
# "Tucuruvi, Sao Paulo".split(",") = ["Tucuruvi", "São Paulo"]
# Pegamos o primeiro elemento: "Tucuruvi"
df["bairro_teste"] = (df["address"]
                      .str.split("- ")
                      .str[1]
                      .str.split(",")
                      .str[0])

In [28]:
# Vamos refazer com outra estratégia apenas nos casos onde o processo anterior 
# ao inves de bairro nos deu "SP" e "RJ".
# Para esses casos, simplesmente split na "," e pegamos o primeiro elemento
# Ex: "Brooklin, São Paulo - SP".split(",") = ["Brooklin", "São Paulo"]
# Primeiro elemento "Brooklin"
df.loc[df["bairro_teste"].isin(["SP", "RJ"]), "bairro_teste"] = (df
                                                                 .loc[df["bairro_teste"].isin(["SP", "RJ"]), "address"]
                                                                 .str.split(",").str[0])

In [29]:
df.loc[df["crawler"]!=df["bairro_teste"],"bairro_teste"].unique()

array(['Butantã', 'República', 'Brás', 'Freguesia do Ó', 'Higienópolis',
       'Móoca', 'Saúde', 'Campo Limpo'], dtype=object)

In [30]:
# Passando o conteúdo de "crawler" para minúscula e substituindo " " por "_"
df["crawler"] = (df["crawler"]
                 .str.lower()
                 .str.replace(" ","_"))

In [31]:
# Passando o conteúdo de "bairro_test" para minúscula, 
# substituindo " " por "_" e removendo acentos
df["bairro_teste"] = (df["bairro_teste"]
                      .str.lower()
                      .str.replace(" ","_")
                      .str.normalize("NFKD")
                      .str.encode("ascii", errors="ignore")
                      .str.decode("utf-8"))

In [32]:
# Verificamos que freguesia estava escrito errado
df.loc[df["crawler"]!=df["bairro_teste"], ["crawler","bairro_teste"]]

            crawler    bairro_teste
3596  fregesia_do_o  freguesia_do_o
3597  fregesia_do_o  freguesia_do_o
3598  fregesia_do_o  freguesia_do_o
3599  fregesia_do_o  freguesia_do_o
3600  fregesia_do_o  freguesia_do_o
...             ...             ...
4521  fregesia_do_o  freguesia_do_o
4522  fregesia_do_o  freguesia_do_o
4523  fregesia_do_o  freguesia_do_o
4524  fregesia_do_o  freguesia_do_o
4525  fregesia_do_o  freguesia_do_o

[930 rows x 2 columns]

In [33]:
# Corrigimos e tudo bem
df["crawler"] = (df["crawler"].str.replace("fregesia", "freguesia"))

In [34]:
df.loc[df["crawler"]!=df["bairro_teste"], ["crawler","bairro_teste"]]

Empty DataFrame
Columns: [crawler, bairro_teste]
Index: []

In [35]:
df = df.drop(columns="bairro_teste")

# Amenities

In [36]:
# Verificamos que o conteúdo da coluna amenities é uma string
df["amenities"]

0        Elevador\nAr-condicionado\nPlayground\nMóvel p...
1        Piscina\nElevador\nCondomínio fechado\nEspaço ...
2                             Academia\nCondomínio fechado
3        Piscina\nVaranda gourmet\nMobiliado\nChurrasqu...
4        Piscina\nVaranda gourmet\nChurrasqueira\nVaran...
                               ...
15519          Playground\nSalão de festas\nSalão de jogos
15520    Piscina\nVaranda gourmet\nChurrasqueira\nVaran...
15521                                          Aquecimento
15522                                          Aquecimento
15523    Piscina\nMobiliado\nChurrasqueira\nAcademia\nE...
Name: amenities, Length: 15524, dtype: object

In [37]:
# Transforma amenities em lista dando o split no caracter \n
df["amenities"] = df["amenities"].str.split("\n")

In [38]:
# Veja que virou uma lista
df["amenities"].head()

0    [Elevador, Ar-condicionado, Playground, Móvel ...
1    [Piscina, Elevador, Condomínio fechado, Espaço...
2                       [Academia, Condomínio fechado]
3    [Piscina, Varanda gourmet, Mobiliado, Churrasq...
4    [Piscina, Varanda gourmet, Churrasqueira, Vara...
Name: amenities, dtype: object

In [39]:
# Preenchemos os dados missing por ""
df["amenities"] = df["amenities"].fillna("")

In [40]:
# Queremos saber quais os amenities que existem
# Vamos criar uma lista vazia e, para cada linha da columna "amenities"
# Se a linha não for vazia, junta a o conteudo da lista na nossa lista de amenities
amenities = []
for am in df["amenities"]:
    if am != "":
        amenities = amenities + am

In [41]:
# Usamos o set para pegar apenas os items únicos
unique_amenities = list(set(amenities))

In [42]:
# A coluna amenities ainda é uma lista, vamos passá-la de volta a string
# para podermos usar a função contains. Para voltar a string, usarmos 
# A função join
df["amenities"].head()

0    [Elevador, Ar-condicionado, Playground, Móvel ...
1    [Piscina, Elevador, Condomínio fechado, Espaço...
2                       [Academia, Condomínio fechado]
3    [Piscina, Varanda gourmet, Mobiliado, Churrasq...
4    [Piscina, Varanda gourmet, Churrasqueira, Vara...
Name: amenities, dtype: object

In [43]:
# Vamos juntar cada item com uma ", "
df["amenities"] = df["amenities"].str.join(", ")

In [44]:
# Verificando apenas como ficou
df["amenities"].head()

0    Elevador, Ar-condicionado, Playground, Móvel p...
1    Piscina, Elevador, Condomínio fechado, Espaço ...
2                         Academia, Condomínio fechado
3    Piscina, Varanda gourmet, Mobiliado, Churrasqu...
4    Piscina, Varanda gourmet, Churrasqueira, Varan...
Name: amenities, dtype: object

In [45]:
# Agora, para cada amenity único, vamos criar uma coluna com o nome da amenity
# Vamos iniciála com 0
# Vamos procurar as linhas cuja coluna amenities contem a nossa amenity
# Nessas linhas, na coluna recem criada amenity, vamos substituir o 0 por 1
for amenity in unique_amenities:
    print(amenity)
    df[amenity]=0
    df.loc[df["amenities"].str.contains(amenity), amenity] = 1

Aceita animais
Área de serviço
Estacionamento para visitantes
Jardim
Ar-condicionado
Salão de jogos
Playground
Segurança 24h
Conexão à internet
Portão eletrônico
Quadra poliesportiva
Isolamento térmico
Churrasqueira
Garagem
Acesso para deficientes
Vista para o mar
Academia
Cozinha americana
Gramado
Espaço gourmet
Portaria 24h
Piscina para adulto
Varanda gourmet
Próximo a transporte público
Piscina infantil
Cabeamento estruturado
Spa
Closet
Depósito
Condomínio fechado
Cozinha
Armário embutido
Circuito de segurança
Churrasqueira na varanda
Serviços públicos essenciais
TV a cabo
Cinema
Vigia
Piso laminado
Pista de cooper
Gerador elétrico
Espaço verde / Parque
Sala de massagem
Lareira
Perto de vias de acesso
Sala pequena
Área de lazer
Elevador
Quadra de tênis
Isolamento acústico
Piscina
Serviços pay per use
Mais de um andar
Sala de almoço
Sala de jantar
Sistema de alarme
Varanda
Vista para a montanha
Lavanderia
Bicicletário
Gás Encanado
Aquecimento
Interfone
Copa
Recepção
Cozinha grande
Mobiliado
Escritório
Salão de festas
Vista para lago
Espelhos d'água
Móvel planejado
Armário na cozinha
Próximo a escola
Vista exterior
Próximo a shopping
Quadra de squash
Quintal
Sauna
Próximo a hospitais

In [46]:
# Vamos ver o resultado
df.head()

,id,url,header,address,amenities,crawler,crawled_at,rooms_limpo,bathrooms_limpo,garages_limpo,...,Espelhos d'água,Móvel planejado,Armário na cozinha,Próximo a escola,Vista exterior,Próximo a shopping,Quadra de squash,Quintal,Sauna,Próximo a hospitais
0,2472650173,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 64m²","Avenida Portugal, 401 - Brooklin, São Paulo - SP","Elevador, Ar-condicionado, Playground, Móvel p...",brooklin,2021-03-11 01:57:00,2,2,1,...,0,1,0,0,0,0,0,0,0,0
1,2463778941,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 83m²","Rua Nova York, 470 - Brooklin, São Paulo - SP","Piscina, Elevador, Condomínio fechado, Espaço ...",brooklin,2021-03-11 01:57:00,2,3,2,...,0,0,0,0,0,0,0,0,0,0
2,2505723836,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 75m²","Avenida Portugal, 371 - Brooklin, São Paulo - SP","Academia, Condomínio fechado",brooklin,2021-03-11 01:57:00,3,2,1,...,0,0,0,0,0,0,0,0,0,0
3,2497648375,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com Quarto à Venda, 47m²","Rua Michigan - Brooklin, São Paulo - SP","Piscina, Varanda gourmet, Mobiliado, Churrasqu...",brooklin,2021-03-11 01:57:00,1,2,1,...,0,0,0,0,0,0,0,0,0,0
4,2437733374,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 4 Quartos à Venda, 167m²","Brooklin, São Paulo - SP","Piscina, Varanda gourmet, Churrasqueira, Varan...",brooklin,2021-03-11 01:57:00,4,4,3,...,0,0,0,0,0,0,0,0,0,0

In [47]:
# Vamos salvar o resultado no arquivo primary
df.to_csv("aptos_primary.csv", index=False)